.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 24px;
  background-color: #1f1f1f;
  color: #e3e3e3;

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 26px;
    width: auto;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
