# Postgres
DATABASE_URL=op://Development/NotebookLM/DATABASE_URL
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE=op://Development/NotebookLM/DATABASE_URL

# Better Auth
BETTER_AUTH_SECRET=op://Development/NotebookLM/BETTER_AUTH_SECRET

# Google Gemini
GEMINI_API_KEY=op://Development/NotebookLM/GEMINI_API_KEY

# Tavily
TAVILY_API_KEY=op://Development/NotebookLM/TAVILY_API_KEY

# Cloudflare Turnstile
TURNSTILE_SECRET_KEY=op://Development/NotebookLM/TURNSTILE_SECRET_KEY
